<p id="notice"><%= notice %></p>

<h1>Ocupations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ocupations.each do |ocupation| %>
      <tr>
        <td><%= ocupation.name %></td>
        <td><%= link_to 'Show', ocupation %></td>
        <td><%= link_to 'Edit', edit_ocupation_path(ocupation) %></td>
        <td><%= link_to 'Destroy', ocupation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ocupation', new_ocupation_path %>
